nav > ul{
  display:flex;
  justify-content:space-evenly;
  wrap-text:wrap;
  background-color:#59F065;
}
nav > ul > li{
  list-style-type:none;
  font-size:22px;
  font-weight:500;
}
h1{
  text-align:center;
  }
